[2015-09-16 19:16] egeste opened #2 "isPrimaryKey returns undefined for column that is a primary key"
Per my conversation with myself in https://github.com/ozum/sequelize-pg-generator/issues/9, pg-structure fails to indicate that a primary key column is a primary key via the `isPrimaryKey` interface.

According to the PostgreSQL documentation:

`Technically, a primary key constraint is simply a combination of a unique constraint and a not-null constraint.`
http://www.postgresql.org/docs/9.0/static

[2015-09-17 06:32] ozum commented on #2
@egeste Thank you for using this library. You are right. Technically, a primary key constraint is simply a combination of a unique constraint and a not-null constraint. So every primary key is a *unique not null constraint*. However, this is important, not every *unique not null constraint* is a primary key.

There may be more than one *unique not null constraints* in a table, but only one of them

[2015-09-17 06:32] #2 closed

[2015-09-17 18:50] egeste commented on #2
Thanks for taking a critical look into the issue. Unfortunately this still leaves me with the problem of my auto generated models not flagging my primary key columns. How can I indicate that a column is a primary key such that this library will detect it?

[2015-09-17 20:41] ozum commented on #2
Hmm. Is there a particular reason why your actual database does not mark primary keys as primary keys? Could you please give details about your design decisions?

[2015-09-21 17:03] egeste commented on #2
After doing some research and experimentation I discovered that attempting to add a column marked as primaryKey after the table is created just doesn't work. I don't know whether the failure occurred in postgres or in the Sequelize::addColumn method - but defining the id field as primary key at the time of table creation resulted in the column being properly marked as a primary key - which was sub

[2015-09-22 06:52] ozum commented on #2
Your welcome. Most probably it is not a postgres issue, because setting a column as primary key during creation or modification does not differ in PostgreSQL. However, as simplest case, a column cannot altered as primary key if there are some data in the table which prevents the column being unique.

For example table below; record_no cannot be changed as primary key.

    record_no      name

[2015-09-22 17:27] egeste commented on #2
@ozum in my case, there was no data in the table - which leads me to believe it's a bug in `Sequelize::addColumn`

[2016-12-28 23:26] sparebytes opened #6 "Typescript TSD Definitions"
Here is my quick and dirty typescript definition files in case anyone else could use it.
https://gist.github.com/sparebytes/5964fa0a41db22ee8a99a6cf7f1f8c3b

I noticed that some places refer to `DB` and others refer to `Db` so I changed everything to use `DB`.

[2016-12-29 09:39] ozum commented on #6
Hi,

Thank you for indicating inconsistencies in documentation. Correct one is `Db`. I updated all references consistently as `Db`.

Could you please update your definition.

One more thing. I have no experience on typescript. Should I include definition file to pg-structure and if yes, where?

Also thank you for the contribution.

[2016-12-29 11:46] sparebytes commented on #6
Glad to help. I made a pull request for you and tested the changes on my local system. One thing I did was add a dependency to `@types/db`. Some people are inclined to add it to devDependencies instead but that adds extra work for users of your library:

https://github.com/Microsoft/types-publisher/issues/81

[2016-12-30 13:41] sparebytes opened #8 "Distinguish between Views and Tables"
I am looping through the `tables` `Map` and I would like to ignore the views. It would be useful if the Table object has a property that could be used to distinguished between tables and views.

[2017-01-05 10:00] ozum commented on #8
Hi,

I will add this to-do list.

[2017-03-02 18:13] RagazziMoscow opened #9 "Inability to get another schemes different from 'public'"
Hi
I am trying to get structure of my database with 3 schemes. The module work correctly only with 'public' scheme. In another schemes it does not discover any tables. It would be useful if it has ability to analyze another schemes correctly.

[2017-03-03 05:33] ozum commented on #9
Hi,
It already supports schemas. Could you please provide a short code sample. I will correct if there is a bug.

Kind Regards,

On Thu, Mar 2, 2017 at 9:13 PM +0300, "Dragan" <notifications@github.com> wrote:

Hi

I am trying to get structure of my database with 3 schemes. The module work correctly only with 'public' scheme. In another schemes it does not discover any tables. It would be useful i

[2017-03-03 07:50] #6 closed

[2017-03-03 13:43] RagazziMoscow commented on #9
I need to get the structure and its tables:

var pgStructure = require('pg-structure');

var connectionArgs = {
  database: "Example",
  user: "admin",
  password: "admin",
  host: "localhost",
  port: 5432
};

pgStructure(connectionArgs, ['public', 'cekavo'])
  .then((db) => {
    console.log(db.get('public').tables);
  })
  .catch(err => console.log(err.stack));

For public schema it works corre

[2017-03-03 14:00] ozum commented on #9
Hi,

I created a sample schema and tested and it seems working. Also library has tests for multiple schema in https://github.com/ozum/pg-structure/blob/master/test/002-schema.js

I shared a schema and code below. Could you please check if it is working for you?

Also if you share your two database schemas (the one with empty map object and other one with  type error), I can check and verify them f

[2017-03-06 08:39] RagazziMoscow commented on #9
I uploaded my schema on that i got the TypeError:
https://github.com/RagazziMoscow/db_schema.git
As far as schemas on which it returns an empty map object, it don't see the tables without primary keys.

P.S.: I learned the schema on which i gave the link that there is structure of hierarchic three placed in relational database. So, i think it is ok that the library doesn't support this schema ))

[2017-03-06 15:19] ozum commented on #9
Hi,

I fixed the bug.

Bug was subtle and hard to track, but had high impact in some scenarios: If same constraint name is used in same database schema, `pg-structure` was failing. I updated necessary sql query. So it should work as expected.

You can use it with your database.

Thanks for reporting.

Kind regards,

[2017-03-06 15:22] #9 closed

[2017-03-06 16:24] RagazziMoscow commented on #9
Yes, it works. Tnank )

[2017-05-20 13:31] timneedham opened #10 "No schema comments?"
Hi,

Great project and perfect for what we need... one small thing, there doesn't seem to be support for accessing schema comments, something like:

```schema.comment: string```

**A query such as:**

[code]

Would do the trick I think?

[2017-05-20 14:19] timneedham opened #11 "How to tell if schema actually exists?"
Hi,

Is it possible to determine if the schemas passed into pg-structure are actually present on the database or not?

Many thanks

Tim

[2017-05-22 06:47] ozum commented on #10
Hi,

I'm on a business trip with limited accessibility , I'll look into that when I return.

Regards,

[2017-05-30 09:59] ozum commented on #8
`Table#kind` attribute is added to distinguish between tables and views as of version 4.

[2017-05-30 09:59] #8 closed

[2017-05-30 10:00] ozum commented on #10
Hi,

`Schema#comment` and `Schema#description` attributes are added as of version 4.

[2017-05-30 10:00] #10 closed

[2017-05-30 10:00] ozum commented on #11
Hi,

From version 4, if non existing schema is requested, `pg-structure` throws exception.

[2017-05-30 10:00] #11 closed

[2017-05-30 15:43] timneedham commented on #10
Great stuff, thank you!

[2017-05-30 15:44] timneedham commented on #11
Great, thank you!
Tim

[2017-11-16 04:10] cymen opened #13 "Deprecation warning from pg"
[code]
Probably https://node-postgres.com/guides/upgrading#client-query-on

[2017-11-16 06:06] ozum commented on #13
Thanks for the notice. Upgraded `node-postgres` to version 7 and fixed as necessary to prevent depreciation warnings.

Please upgrade to latest version of `pg-structure`

[2017-11-16 06:06] #13 closed

[2017-12-04 02:16] vicenteserra opened #14 "Problem with JSZip 3.0"
Error: This method has been removed in JSZip 3.0, please check the upgrade guide.
    at JSZip.generate (/Users/vicente/Documents/fichador/node_modules/jszip/lib/object.js:311:15)
    at Promise (/Users/vicente/Documents/fichador/node_modules/pg-structure/lib/pg-structure.js:232:30)
    at new Promise (<anonymous>)
    at Function.save (/Users/vicente/Documents/fichador/node_modules/pg-structure/l

[2017-12-04 05:57] ozum commented on #14
Thank you for the report.

Error is fixed, please update to latest version.

[2017-12-04 05:57] #14 closed

[2018-11-26 14:59] PhilWaldmann opened #16 "how to get composite field keys?"
Hi,

nice project!!
Is it possible to get the field definition of custom types?

Something like:
[code]

Thanks,
Philipp

[2018-11-26 15:15] ozum commented on #16
Hi @PhilWaldmann

Thanks for the comment.

Could you please provide a simple DDL (SQL to create database), so I can test.

[2018-11-26 15:30] PhilWaldmann commented on #16
[code]

[code]

[2018-11-26 15:40] ozum commented on #16
@PhilWaldmann

Yes it is possible. You can use `column.type` to see whether it is user defined type or not, and `column.userDefinedType` to see actual type name.

Please see example code below for your provided DDL:

[code]

[2018-11-26 15:42] PhilWaldmann commented on #16
`column.userDefinedType` just returns the string `'my_customtype'` but how do i get the fields `foo` and `bar` from `my_customtype`?

[2018-11-26 15:47] ozum commented on #16
Hmm, I misunderstand your question then. Unfortunately, currently it is not possible to get sub fields.

I can't promise, but if you provide an SQL to get fields from PostgreSQL schema, I will look if I can implement it. You can see current SQL's in `sql` directory of the library.

[2018-11-26 16:05] PhilWaldmann commented on #16
I've put the right sql statment into my first post.

[code]

the above query does not include all information pg-structure provides for columns. So it will need some more work. If I've time tomorrow, I'll create a fully features query.

[2018-11-26 16:07] PhilWaldmann commented on #16
I'd like to use pg-structure for version 3 of [openrecord](https://github.com/PhilWaldmann/openrecord)

[2018-11-26 16:13] ozum commented on #16
Nice project.

By the way, even after you provide necessary SQL, it will take some time to implement this, because this feature is not a simple attribute to add to column. It requires another level in class hierarchy. So I need a good time to plan and implement this.

Also I need an SQL with all information for consistency across the library.

[2018-11-26 17:03] PhilWaldmann commented on #16
I think the best option is to add an additional attribute to the [Schema](http://www.pg-structure.com/api/Schema/) class: `types`. Which should be a `Map` of types. And every customType on a column should point to the corresponding type instance.
Composite types don't have the same information as a table. e.g. there are no constraints or default values.

[2018-11-27 19:10] PhilWaldmann commented on #16
[code]

[2018-11-27 21:47] PhilWaldmann commented on #16
See PR #17

[2018-11-28 09:01] PhilWaldmann commented on #16
Awesome!! =)

for the next version of openrecord I'm planning a cli tool, which will generate typescript files for every table. So the query performance is not critical.

Thanks,
Philipp

[2018-11-28 09:33] ozum commented on #16
You can check [`pg-generator`](http://www.pg-generator.com). It is PostgreSQL specific though.

[2019-01-16 01:47] craig-miller opened #18 "SSL Support?"
Does pg-structure support connecting to databases that require an SSL connection?

[2019-02-14 17:44] uythoang opened #20 "Import instead of require"
I'm trying to import the package with `import pgStructure from "pg-structure";` but get this error:

[code]

[2019-02-14 17:59] ozum commented on #20
Unfortunately, `pg-structure` is not written with TypeScript.

[2019-02-14 17:59] #20 closed

[2019-02-14 18:01] uythoang commented on #20
Ah ok. I found a workaround by adding a pg-structure.d.ts file which just has this one line:

[code]

[2019-02-15 04:32] #18 closed

[2019-02-19 22:24] brentjanderson opened #21 "Foreign keys mixed up with duplicate table names in separate schemas"
A POC repository is available here to try this out: https://github.com/brentjanderson/pg-structure-constraint-errors

(From the [README](https://github.com/brentjanderson/pg-structure-constraint-errors/blob/master/README.md))

## Context

A database has two separate schemas A and B. Both schemas have two tables with the same names: `parent` and `child`. Thus, we have four tables in the database:

[2019-02-20 12:11] #21 closed

[2019-02-20 12:21] ozum commented on #21
@brentjanderson Thanks for the report. Wow, that's a hard to detect bug. Also tricky to fix, because it's directly related to SQL part.

Fixed version is uploaded in GitHub and npm. Please update to latest version and reopen this issue if problem still exist.

[2019-02-20 15:31] brentjanderson commented on #21
Wow, thank you! I was planning on addressing it this morning, I don’t like foisting more work on open source maintainers. Thank you for a great tool!
On Feb 20, 2019, 05:21 -0700, Ozum Eldogan <notifications@github.com>, wrote:

[2019-03-06 00:29] emlai opened #22 "TypeError: Cannot read property 'indexes' of undefined"
First of all, thanks for this awesome library, it's just what I was looking for.

I suddenly started getting the following error when my database structure got more complex. When I call `await pgStructure({ database: 'test_db' })`, I get:

[code]

Using pg-structure v4.2.2.

Here's the dump of the database that reproduces this for me:

<details><summary>Database dump</summary>

[code]

</details>

[2019-03-06 06:07] ozum commented on #22
Hi,

I cannot recreate example dump, because of `stdin` in `COPY public.orderitem (id, orderid, productid, unitprice, quantity) FROM stdin;`

Not related the error you got, but `Order` table starts with an upper case letter whereas other tables start with lower case letters. If it isn't by design, it may be a typo, considering PostgreSQL is case sensitive.

For the error, please test with an admin

[2019-05-17 15:20] viktor-ku opened #23 "Is there a way to get precision and scale out of numeric column type?"
Hi.

Currently I am doing this

[code]

Works great, as output I get correct tables and columns. However it shows just `numeric` without precision or scale to it. I'd like to see `numeric(10, 2)` for example.

Is it possible?

Thanks

[2019-05-17 15:25] ozum commented on #22
I'm closing issue, because I cannot reproduce it, and no more details are provided for long time. In case you need further help, please open another case and provide details.

[2019-05-17 15:25] #22 closed

[2019-05-17 15:29] ozum commented on #23
Hi @viktor-ku ,

Yes, please see:
http://www.pg-structure.com/api/Column/#Column+precision
http://www.pg-structure.com/api/Column/#Column+scale

[2019-05-17 15:37] viktor-ku commented on #23
@ozum thanks a ton! Went through that page a few times but still somehow missed these props. Just found this lib today, very useful!

[2019-05-17 15:37] #23 closed

[2019-05-17 15:39] ozum commented on #23
I miss too, I need to revisit docs to check whether it is available.

Currently I'm working on a TypeScript version of the library. It would be used easier if you are using TypeScript.

[2019-05-17 18:54] viktor-ku commented on #23
@ozum Typescript is exactly what I am using for everything nowadays. Was also thinking of making a d.ts file for this project one day. Are you rewriting the whole thing in ts or just `d.ts` file?

[2019-05-18 03:14] ozum commented on #23
@viktor-ku. I'm rewriting whole library.

If you create some schema or some files based on your pg database, you may want to see pg-generator (www.pg-generator.com).

[2019-05-21 16:06] Ciruxx opened #24 "How to get schemas list?"
I'm sorry for my english.

Hi!
There is a way to get a schemas name array?

I need to get all tables names in database by schema and i need the name of each schema to do this i should.

Obviusly I was try to use db.schemas, but i get only the public schema or the schema that i pass at pgstructure constructor.

There is another way?

Thanks!

[2019-05-21 16:15] ozum commented on #24
I think you want to every schema in a db without giving any schema name to constructor. Right?

[code]

Unfortunately it is not supported, because otherwise all system schemas are included.

## Workaround (NOT TESTED AND NOT SUPPORTED - YOU ARE ON YOUR OWN)

You can edit 5 sql files in sql folder and delete schema related where conditions such as:

[code]

[code]

etc...

[2019-05-21 16:27] Ciruxx commented on #24
Thank you!

[2019-05-21 16:27] #24 closed

[2019-05-29 09:39] simone-sanfratello opened #25 "It's wonderful"
Hi,

that's not an issue, I just like to say it's a great project!

Thank you!

[2019-05-29 10:14] ozum commented on #25
Thanks :)

[2019-05-29 10:14] #25 closed

[2019-07-03 04:44] PavithraNavaneeth opened #27 "Possible to grab functions and triggers - Question"
Hi,
Could you please clarify if its feasible to grab the triggers, sequences and functions defined in the schema ?

Thanks !

[2019-07-03 06:35] ozum commented on #27
Hi @PavithraNavaneeth,

Unfortunately currently not. If you could provide full-fledged SQL queries to fetch those. I will add them to next version.

[2019-10-01 09:06] sanjeevuideveloper opened #28 "how to dump my postgressql database as sql file, means want to export database"

[2019-10-01 09:08] ozum commented on #28
@sanjeevuideveloper, postgresql has a builtin tool for this. You should use [pg_dump](https://www.postgresql.org/docs/9.6/app-pgdump.html) to dump postgresql as sql file.

[2019-10-01 13:15] sanjeevuideveloper commented on #28
Using nodejs

On Tue, 1 Oct 2019, 14:38 Ozum Eldogan <notifications@github.com wrote:

[2019-10-01 15:14] ozum commented on #28
For node.js, I would use [pg-dump](https://www.postgresql.org/docs/9.6/app-pgdump.html) as a child process (command) with [execa](https://www.npmjs.com/package/execa) or [cross-spawn](https://www.npmjs.com/package/cross-spawn) npm modules.

Something like below: (Taken from readme example)

[code]

[2019-10-01 15:31] sanjeevuideveloper commented on #28
What is param 1 and param 2?

On Tue, 1 Oct 2019, 20:44 Ozum Eldogan <notifications@github.com wrote:

[2019-10-01 15:34] ozum commented on #28
They are just examples. You should give same parameters as `pg_dump`, instead of `param 1`, `param 2`, ... `param n` as an array to `execa`.

[2019-10-01 15:38] sanjeevuideveloper commented on #28
It will work in windows server!

On Tue, 1 Oct 2019, 21:04 Ozum Eldogan <notifications@github.com wrote:

[2019-10-01 15:43] ozum commented on #28
According to [execa docs](https://github.com/moxystudio/node-cross-spawn#why), it works with Windows. `pg_dump` is also available for Windows.

For further guidance, you should consult [pg-dump](https://www.postgresql.org/docs/9.6/app-pgdump.html) and [execa](https://www.npmjs.com/package/execa) documentation.

[2019-10-03 06:04] sanjeevuideveloper commented on #28
Not working, please give me one proper example. I am getting pg_dump ENOENT
error

On Tue, 1 Oct 2019, 21:37 Ozum Eldogan <notifications@github.com wrote:

[2019-10-03 06:10] ozum commented on #28
Means, `pg_dump` cannot be found. It may not be in Windows PATH. Does `pg_dump` work on Windows CLI?

If this command does not show help output on Windows shell, `pg_dump` is not in your PATH. Google how to add `pg_dump` to Windows PATH.

[2019-10-03 06:14] sanjeevuideveloper commented on #28
Ok

On Thu, 3 Oct 2019, 11:40 Ozum Eldogan <notifications@github.com wrote:

[2019-10-03 10:30] sanjeevuideveloper commented on #28
Please give  me one proper example with exact syntax for exporting a
database into a sql file

On Thu, 3 Oct 2019, 11:44 sanjeev kumar <sanjeev.ui.web.developer@gmail.com
wrote:

[2019-10-03 10:48] ozum commented on #28
See below. Fill your db-name, username, password and sql file.

(Default values are used, change host, port etc. if necessary.)

[code]

[2019-10-03 15:57] sanjeevuideveloper commented on #28
Thank u very much from my bottom of heart!!!

On Thu, 3 Oct 2019, 16:18 Ozum Eldogan <notifications@github.com wrote:

[2019-10-03 15:58] ozum commented on #28
Your welcome.

[2019-10-26 06:19] rapomon opened #29 "V5 breaking changes link in readme.md does not work"

[2019-10-27 09:17] ozum commented on #29
@rapomon , thanks for the notification. I updated docs and fixed broken link. You can see [Breaking Changes](https://www.pg-structure.com/nav.01.guide/guide--nc/breaking-changes.html) now.

[2019-10-27 09:17] #29 closed

[2019-10-27 10:51] rapomon commented on #29
Ok, thank you so much!

[2019-10-29 09:10] rapomon opened #30 "pg-structure 5.4.0 with ecma6 support?"
I'm using pg-structure 5.4.0 with ecma6 and don't work, but 4.2.2 works fine, this is my code, I'm doing something wrong?
[code]

The error is:

`TypeError: pgStructure is not a function`

Thanks.

[2019-10-29 09:14] ozum commented on #30
Could you please try either:

[code]
 or (with Babel)

[code]

Additionally, `await` should be in a function call:

[code]

or you could use promises:

[code]

[2019-10-29 09:21] rapomon commented on #30
Thank you!

I have pgStructure inside an async function, I modified the first comment.

Now I tried with:
`const pgStructure = require('pg-structure').default;`

But now the error is:
`[Error: ENOENT: no such file or directory, open 'C:\nodejs\ebm-one\node_modules\pg-structure\module_files\sql\type.sql']`

[2019-10-29 09:51] ozum commented on #30
It seems a bug in `pg-structure`. I'm looking it.

[2019-10-29 09:56] rapomon commented on #30
Ok, thank you.

I just copied the `module_files` folder to see what happened and I get the following error:

[code]
I use postgres 12, but version 4.2.2 works fine with this version.

[2019-10-29 10:08] ozum commented on #30
I fixed it. Please try latest version.

[2019-10-29 11:13] rapomon commented on #30
Ok, now the `module_files` folder exists after install. Thank you!

But I still have the last error commented:

[code]

[2019-10-29 11:53] rapomon commented on #30
PostgreSQL 12 removes the `pg_constraint.consrc` column. Documentation:

- [PostgreSQL 12](https://www.postgresql.org/docs/12/catalog-pg-constraint.html)
- [PostgreSQL 11](https://www.postgresql.org/docs/11/catalog-pg-constraint.html)

The docs for 11 still include `consrc`, but recommend to use `pg_get_constraintdef`.

[2019-10-29 11:55] rapomon opened #31 "Column not found pg_constraint.consrc in Postgresql 12"
This is the error:

[code]

[2019-10-29 11:57] ozum commented on #30
Yes I realized it in the first message and I'm looking a solution for that now.

[2019-10-29 11:57] rapomon commented on #31
PostgreSQL 12 removes the `pg_constraint.consrc` column. Documentation:

- [PostgreSQL 12](https://www.postgresql.org/docs/12/catalog-pg-constraint.html)
- [PostgreSQL 11](https://www.postgresql.org/docs/11/catalog-pg-constraint.html)

The docs for 11 still include `consrc`, but recommend to use `pg_get_constraintdef`.

[2019-10-29 11:59] rapomon commented on #30
Ok, thank you, I moved the problem with the column not found to another issue.

[2019-10-29 11:59] ozum commented on #30
Ok, continue on that case.

[2019-10-29 11:59] #30 closed

[2019-10-29 12:05] ozum commented on #31
`pg_get_constraintdef` seems backward compatible with previous versions of PostgreSQL. I fixed the issue. Please check with latest version of `pg-structure`.

[2019-10-29 12:10] rapomon commented on #31
Yes! it works fine! Thank you so much!!!

[2019-10-29 12:14] ozum commented on #31
You're welcome.

[2019-10-29 12:14] #31 closed

[2019-10-30 18:33] emlai opened #32 "Could not find a declaration file for module 'pg'"
Hello! I upgraded from pg-structure v4.2.2 to v5.6.0 and I'm now getting the following TypeScript error:

[code]

I checked the breaking changes and readme but couldn't find anything regarding this.

The error is originating in `node_modules/pg-structure` so I think this should be fixed on pg-structure's side (my project doesn't care about pg typings). I believe moving "@types/pg" from "devDepende

[2019-10-30 21:12] emlai opened #33 "Serialize to JSON in v5"
I used to do `pgStructure.serialize(db)` to convert my database structure to a JSON string (to send from server to client) in v4, but the `serialize` method doesn't seem to be available anymore in v5.

I tried to look for an alternative in the breaking changes and API documentation but couldn't find anything. Also tried to do a simple `JSON.stringify` but got a `Converting circular structure to JS

[2019-10-31 09:15] ozum commented on #32
Most probably it will solve it. I will look it.

[2019-10-31 09:58] ozum commented on #33
Actually, it is not implemented. I need to think an alternative approach to serialization, because serialization of circular structures make refactoring difficult.

I think serializing sql query results and recreating  objects from those would be a scalable solution.

[2019-10-31 12:53] #32 closed

[2019-10-31 13:44] backhand opened #34 "tslib module dependency not declared"
Version: 5.7.0

Reproduction:
1. Fresh install using npm install pg-structure@5.7.0)
2. Run suggested demo from frontpage of pg-structure.com (async function demo() ...) replacing login information and table names.

Output:
Error: Cannot find module 'tslib'
Require stack:
- /<snip>/node_modules/pg-structure/dist/index.js
...
    at Object.<anonymous> (/<snip>/node_modules/pg-structure/dist/index.j

[2019-10-31 15:31] ozum commented on #33
@emlai I added a new implementation for serialization / deserialization and a test. Could you please check if it works as expected.

Usage:

[code]

[2019-10-31 16:13] ozum commented on #34
@backhand thanks for the report. `tslib` is added to dependencies. Please update to latest version.

[2019-10-31 16:13] #34 closed

[2019-11-01 11:42] emlai commented on #33
Tried that and it works perfectly for my (quite simple) use case. I'll let you know if I run into any problems. Thanks!

[2019-11-01 11:42] #33 closed

[2019-11-30 15:42] backhand commented on #34
Aand it's gone again:
https://github.com/ozum/pg-structure/commit/b4576756aea91e09c5d99ad21ef412de3e083dac#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2019-11-30 15:44] backhand opened #36 "tslib module dependency not declared (re-issue)"
Version: 5.10.2

Reproduction:

Fresh install using npm install pg-structure@5.10.2)
Run suggested demo from frontpage of pg-structure.com (async function demo() ...) replacing login information and table names.
Output:
Error: Cannot find module 'tslib'
Require stack:

//node_modules/pg-structure/dist/index.js
...
at Object. (//node_modules/pg-structure/dist/index.js:3:17)

See commit:
https://git

[2019-12-02 13:14] ozum commented on #36
I removed dependency to `tslib` from `pg-structure`, by setting `"importHelpers": false` in `tsconfig.json`.

This error originated from one of the dependencies (`indexable-array`), which is developed by me.

I fixed it too. Please update `pg-structure` to latest version and report if error continues.

Thanks,

[2019-12-06 07:44] #36 closed

[2019-12-06 07:44] vincentdesmares opened #39 "Typo on landing page"
v5 beraking changes. -> v5 breaking changes.

Anyway I love the concept! Congratulation for landing it! It can be super useful to generate a GraphQL schema dynamically.

[2019-12-06 07:49] ozum commented on #39
Thanks. @fnando committed a PR for this typo. It will be updated soon.

[2019-12-06 07:49] #39 closed

[2019-12-06 07:52] ozum commented on #39
@vincentdesmares, you can check [pg-generator](https://www.pg-generator.com/) to create a generator.

**Please beware**
Currently [pg-generator](https://www.pg-generator.com/) uses previous version of pg-structure, and pg-generator will be completely rewritten, and it will not be backwards compatible. However it could help a lot in current state.

[2019-12-09 10:14] exit9 commented on #27
It's not full-fledged SQL queries, but anyway:

SELECT * FROM pg_trigger

SELECT * FROM pg_sequences

SELECT routines.routine_name, parameters.data_type, parameters.ordinal_position
FROM information_schema.routines
    LEFT JOIN information_schema.parameters ON routines.specific_name=parameters.specific_name
WHERE routines.specific_schema='public'
ORDER BY routines.routine_name, parameters.ordinal

[2019-12-09 10:29] ozum commented on #27
Thanks @exit9, it could be a starting point for me to work when I have time.

[2019-12-28 21:46] brianmcallister opened #40 "Property 'tables' does not exist on type 'Schema | Entity | Column'."
I'm just getting started with `pg-structure`, so it could be something that I'm doing wrong, but when I try to set up the basic examples from the documentation, I get the following error:

[code]

I tried setting up the most minimal project possible, and I'm able to reproduce. Here's my `package.json` dependencies:

[code]

...and here's the complete file that I'm trying to run:

[code]

Interesti

[2019-12-29 16:25] ozum commented on #40
Hi @brianmcallister, your example is correct as JavaScript, but TypeScript cannot be sure that returned value from `db.get()` (`Schema` or `Entity` or `Column`) has `tables` attribute, because returned value may be an `Entity` or a `Column` which do not have `tables`.

Try one of the below:

[code]

or

[code]

[2019-12-29 16:25] #40 closed

[2019-12-29 21:58] brianmcallister commented on #40
Oh yeah, I totally understand why TypeScript is raising that error, I just wanted to check if that was expected behavior.

I suppose my suggestion would be to add a note to the documentation about this issue, and/or tightening up the types so that this error doesn't occur anymore, and/or possibly even removing the `get` method from the `Db` type entirely.

Thanks for taking a look though, and I'm

[2019-12-30 08:20] ozum commented on #40
Yes, it is expected behavior.

I added documentation as you suggested. It will be published soon.

I can't think a way to tighten `get()`, it returns 3 possible types (similar to `lodash.get()`). Any suggestions are welcome.

Also if `get()` is removed, then we lose convenience.

[code]

[2019-12-30 16:40] brianmcallister commented on #40
Fair point (and thanks for adding a note to the docs).

My opinion is that I'd be willing to have a slightly more verbose syntax in order to make writing type safe code more convenient. I _could_ write type guard functions, but now it's more 'work' for me. Maybe an API something like this:

[code]

[2020-02-07 06:20] s888 opened #41 "Typescript Error: Property 'get' does not exist on type 'IndexableArray<Column, "name", "attributeNumber", true>'."
Hi,

I have just come across this module and its seems to be wonderful.
But when I am trying to run the code in typescript I get this error:

[code]
Here's the code:

[code]
How to get the column type name in typescript?

Thanks in advance.

[2020-02-07 06:35] s888 commented on #41
Is this the correct way?
[code]

[2020-02-07 09:59] ozum commented on #41
@s888, yes the way is correct.

I could not reproduce the error using your code. Could you please provide a sample repo including `DDL` (SQL to create same database as yours), so I could further investigate your problem.

Just a tip:
[code]

[2020-02-07 12:20] s888 commented on #41
Thanks for your reply.
Yes I had tried
[code]
But i got the same error
[code]
This works though
[code]
Also, Is there a way to know if the column is 'EnumType', 'CompositeType' or 'BuiltInType'?

[2020-02-07 12:53] ozum commented on #41
I could run your code without a warning and error. Could you please provide a sample repo including DDL (SQL to create same database as yours), so I could further investigate your problem.

![image](https://user-images.githubusercontent.com/1497060/74030658-a2acbf00-49c0-11ea-80ca-311fc7b7f6ab.png)

Yes, update `pg-structure` to 5.10.7. (There was typo in previous version).

[code]

[2020-02-08 16:20] user-devs opened #42 "Get details about composite types"
Hi,

Can I get all the fields along with their datatypes for composite types using this module?

[2020-02-08 16:33] ozum commented on #42
Yes, please see https://www.pg-structure.com/nav.02.api/classes/compositetype.html

[2020-02-08 16:33] #42 closed

[2020-02-08 17:52] user-devs commented on #42
So if the composite type column is options.
Will this give all the fields of options along with the attributes. Could you please help me with the syntax
[code]
I am trying out the code but I am unable to connect to db (port is not the default port) I am getting this error:
[code]
Code snippet that gives error:
[code]

[2020-02-09 05:57] ozum commented on #42
All the fields of composite type of `options` columns.

[code]

For other error, I need a sample repository to investigate.

[2020-02-09 13:19] user-devs commented on #42
Thank you. Here it is https://github.com/user-devs/pgs-connect/

[2020-02-09 18:02] ozum commented on #42
I cannot reproduce error. The code you provided works as expected.

If you can create a sample with the error in an online environment such as https://codesandbox.io or similar, I can look at it.

[2020-02-10 05:24] user-devs commented on #42
I get an error ```error TS2339: Property 'columns' does not exist on type 'Type'.``` when I do this in typescript
[code]

[2020-02-10 11:40] ozum commented on #42
Please try following:

[code]

[2020-02-15 13:39] user-devs opened #43 "Error: Cannot read property 'name' of undefined"
Hi,

I have changed the default port of pg and I am getting this error when I pass the port option,
I am getting error
[code]
when I specify the port in connect string.

test.ts
[code]

[2020-02-16 12:41] #43 closed

[2020-02-21 08:19] #41 closed

[2020-03-31 08:26] hymanchengo opened #45 "includeSchemas doesn't work when used as an Array"
Hi,
when I use includeSchemas as  following, it seems not work properly, the schema length is 0 when I debug it. but ```includeSchemas: 'p%'``` seems good property,it get all schemas that start with p.
but i can't find a way to make followings work. Am I missing something. Thank you for your suggestions.
[code]

[2020-03-31 17:13] #45 closed

[2020-03-31 17:14] ozum commented on #45
@hymanchengo thanks for the report. You are doing right. This is a bug and I fixed it. Please update to latest version from npm. If you encounter the problem again, please reopen the case.

[2020-04-01 04:29] hymanchengo commented on #45
perfect! It works now! Thank you!

[2020-04-20 07:20] jayarjo opened #46 "Table missing from list of types returned by Db.get"
`Db.get` in addition to `Schema | Entity | Column`, can return `Table`, but it's [missing from list of types](https://github.com/ozum/pg-structure/blob/master/src/pg-structure/db.ts#L186).

[2020-04-20 07:21] jayarjo commented on #46
Oh... Entity is the Table. Sorry.

[2020-04-20 07:21] #46 closed

[2020-04-20 15:02] jayarjo opened #47 "isEnum to easily distinguish enum columns?"
Would be great to have a way to easily distinguish `enum` column, something like `isEnum` would work.

Other than that what would be the recommended way to detect enum columns?

[2020-04-20 15:37] ozum commented on #47
Hi,

[code]

[2020-04-20 15:40] ozum commented on #47
Also possible other use cases.

See https://www.pg-structure.com/nav.02.api/classes/enumtype.html#class-enumtype

[code]

[2020-04-21 06:25] #47 closed

[2020-05-02 07:06] ozum opened #48 "Test issue"

[2020-05-02 07:07] #48 closed

[2020-05-02 07:07] ozum opened #49 "eee"

[2020-05-02 07:07] #49 closed

[2020-05-07 11:10] jayarjo opened #50 "Do not auto close connection when established client is passed to constructor"
Do not auto close connection when established client is passed to constructor. Or at least make it possible to opt-out of such behavior. Because obviously if someone passes in a client, he/she uses it outside somewhere and simply doesn't want to create an extra connection.

[2020-05-07 11:21] ozum commented on #50
I added this feature yesterday. `pg-structure` should keep connection if it is provided an open connection.

Could you please first try latest version without any option and give feedback.

If it does not help, I just added `keepConnection` option, set it `true`.

[2020-05-07 12:25] jayarjo commented on #50
That worked, thanks!

[2020-05-07 12:25] #50 closed

[2020-05-07 12:26] ozum commented on #50
Does it work without option?

[2020-05-07 13:06] jayarjo commented on #50
It does yes, sorry.

[2020-05-12 16:05] jayarjo opened #51 "Retrieve the type of the geometry column (e.g. Point, LineString, etc)"
I'm using `pg-structure` for seeding values into quite complex Postgres database (with PostGIS plugin) having various geometry types. So what I lack is definition of the type of geometry column (e.g. whether it is a Point, or LineString, or Polygon). Does `pg-structure` return it somewhere in the type data structure, or not supported at the moment?

[2020-05-12 18:38] ozum commented on #51
Unfortunately, pg-structure does not support PostGIS.

[2020-05-12 18:41] ozum commented on #51
But you can examine a previous PR of @nikcub https://github.com/ozum/pg-structure/pull/4

It cannot be merged, because it fails if PostGIS is not added to database. It may help you, if you copy changes to your local installation.

[2020-06-08 13:46] jayarjo commented on #27
Would be great to be able to grab other kinds of constraints as well.

[2020-06-08 13:49] ozum commented on #27
It is very helpful if someone provide a single and efficient SQL query which provides every details of required object (constraint, function etc...)

I can implement that database object easily.

Otherwise it is very hard for me to research an efficient SQL for each database object.

[2020-06-08 13:50] #51 closed

[2020-06-10 07:45] jayarjo commented on #27
This is SQL that I currently use to grab CHECK constraints, it doesn't include function name though:

[code]

[2020-06-10 07:46] jayarjo commented on #27
And here's the one to grab triggers:

[code]

[2020-06-10 08:29] ozum commented on #27
I'm leaving this thread open, and wait some SQL pile up. In a spare time, I will try to implement as much as possible in one go.

[2020-06-21 16:48] straldev commented on #27
I use this to grab function info
[code]

You've probably already implemented everything this query provides, but while I'm at, this is what I use to collect attribute and value info on all enums, custom composite types, and tables.
[code]

[2020-06-21 17:00] straldev opened #53 "Error opening database when column has table type"
I have a table called "locale" and I have a mat view that has a column of type "locale". That is, the column's type is the same type as the table (since all tables are also types in pg).

When I open the database for introspection:
```const db = await pgStructure(config); ```

I get this error
[code]

I suspect pgStructure is only considering non-table types when building columns. If so, I propose

[2020-06-21 17:09] straldev commented on #27
Actually, @ozum if you provide some requirements I'm happy to write the SQL to collect whatever info is needed for triggers, functions, etc.

[2020-06-21 17:19] ozum commented on #27
@straldev, I would like to, but currently I don't know what details users need. I would examine some SQL Manager applications to get what would be needed. I need some time though, because I'm busy nowadays.

After that, I would really appreciate if you could help.

[2020-06-21 17:20] ozum commented on #53
@straldev, could you please provide a very minimal DDL, so I can work on it.

[2020-06-21 17:29] straldev commented on #53
[code]

pgStructure works if you create the `table_type` table, but once you create the `dep_on_table` table it fails. Of course now the error is "Error: 'table_type' cannot be found in CompositeType's name."
```const db = await pgStructure(config, {includeSchemas: ['public']});```

[2020-06-21 17:33] ozum commented on #53
Yes, current SQL does not considers tables as a type, but it should be.

Do you have a suggestion at hand for the `/module-files/sql/type.sql` for adding tables as type?

[2020-06-21 17:53] straldev commented on #53
https://github.com/ozum/pg-structure/blob/d0512e5a2edf852765661bab1cf2e89cf35d1fdd/module-files/sql/type.sql#L53

You could change line 53 to
```sql c.relkind IN ('c', 'r', 'v', 'm')```

Per https://www.postgresql.org/docs/current/catalog-pg-class.html on the relkind column:

So that change would add tables, views and mat views to the composite types that are already getting included. Pretty sure

[2020-06-21 18:21] straldev commented on #27
Makes sense! Reach out when you're ready and I'll help if I can.

[2020-06-22 06:14] jayarjo commented on #27
@ozum in fact I think you could start with obvious ones - those that I and @straldev have listed in our selects and then expand if people request more.

[2020-06-22 22:13] straldev commented on #27
@ozum I need to get functions added and issue #53 resolved in a couple of days. I understand that timeline doesn’t work on your end so I intend to implement them myself. I know you’re busy, but if you are able to provide any direction or requirements I would be happy to code this in a way that you can make use of.

If I have time I will implement triggers and sequences as well.

[2020-06-22 22:30] straldev commented on #53
@ozum after some reflection I think it might be better to stop filtering by relkind in the query all together. Instead, you could include the relkind as part of the query's projection, and then filter the query results based on an optional config value. In this way, users can select which relkinds they want to include and we can get additional relkinds added without breaking backwards compatibilit

[2020-06-25 20:57] ozum commented on #27
@straldev, I'm working on it.

[2020-06-25 21:25] ozum commented on #53
This should be fixed with latest release. Now you can access using `Schema.types` and `Schema.typesIncludingEntities` methods. Also you can access underlying table, mv, or view from `Type.entity` attribute.

An Example:

[code]

[2020-06-25 21:25] #53 closed

[2020-06-25 21:33] ozum commented on #27
I got `ERROR:  "array_agg" is an aggregate function` from following query:

[code]

Function part needs quite planning, since functions are very complicated DB objects. There are three major parts at least: Argument details, return details and function itself.

For the beginning, I need a query similar to this:

|function schema|function name|function description|function source|argument name|argu

[2020-06-25 21:43] straldev commented on #27
We use that query on our prod server which is running version 9.6, testing it in version 12 gives that error. I'll work on a new query that works for 12.

The argument values you're after of course have a 1-many relationship with the function. Do you want duplicate rows for the function for each argument, or do you want to aggregate those argument values into an array? Perhaps using jsonb. Also th

[2020-06-25 21:57] straldev commented on #27
@ozum Looks like there are some differences in the pg_proc table between the currently supported versions of postgres (9, 10, 11, 12). Which of these would you like to target? Would it be possible to have different queries based on the version?

[2020-06-25 22:29] straldev commented on #27
[code]

This should provide most details on the function. I didn't see anything about a function description though.
The two commented WHERE operations are the only differences between the PG versions. I'm not sure yet if there's a way to build the query for both versions, but I'll take a crack at it later today.

Here's the doc page on the pg_proc table:
https://www.postgresql.org/docs/12/catalog

[2020-06-26 07:37] ozum commented on #27
Currently not, but I will think a way to implement it.

[2020-06-26 09:18] ozum commented on #27
Last published version `v7.1.0` supports different SQL queries based on major PostgreSQL version.

SQL directory is divided by version numbers. Greatest version equal or less than pg version is used.

For example for following directory structure,

[code]

PostgreSQL 9 and 10 use "9" directory.
PostgreSQL 11 and 12 use "11" directory.

[2020-06-27 19:39] ozum commented on #27
@straldev @jayarjo I added function support. There are lots of edge cases, so it took some time to implement.

See:
- `src/pg-structure/base/func.ts`
- `src/pg-structure/function-arguments.ts`

Example:
[code]

Could you please test if it works?

[2020-06-27 22:28] ozum commented on #27
v7.2.2 adds trigger support with `Trigger` class.

Example:

[code]

[2020-06-29 14:03] straldev commented on #27
Very nice! I will try this out later today and let you know if I run into any issues. Many thanks for taking care of this!

[2020-09-10 10:38] hymanchengo opened #54 "when table is partitioned. db.entities can't load the table"
Dear Ozum,
   I have upgraded pg-structure to lastest version:current is 7.2.3. Today I ran into an error. After some debug effort, I found the problem was caused by a partitioned table.  the error arises when call `db.entities.get(row.tableOid, { key: "oid" });`。
[code]
I would appreciate it if you could take a moment to look at it and maybe fix it. Thank you!

[2020-09-10 11:41] ozum commented on #54
Could you please provide a sample `DDL` which produces given error? So I can examine the problem.

[2020-09-10 12:02] hymanchengo commented on #54
[code]
aha, it seems `c.relkind in ('r', 'v', 'm')` may change into `c.relkind in ('r', 'v', 'm', 'p')` cause i found the partitioned table's kind is `p`.

[2020-09-10 13:14] ozum commented on #54
Hmm, when `p` is added, does it solve the problem?

[2020-09-10 13:38] hymanchengo commented on #54
I temporary modified the sql  file under node_modules/pg-structure/module-files/sql/9 and debug, but it seem's doesn't work. Maybe the method I tried was wrong. I am not good at typescript and front-end.Maybe I need to do more study about the code.
since it's late here. maybe i will reply to you tomorrow.Sorry for that!

[2020-09-11 08:15] hymanchengo commented on #54
Hi Ozum,
   currently, i fix the problem by modify

[2020-09-11 08:54] hymanchengo commented on #54
Hi Ozum,
  so far, I simply modified dist\index.js, and three .sql file in module-files/sql/9/: column.sql.,entity.sql, type.sql
[code]

sql fragment modification
[code]

i am regeret i didn't pull the request just i can't make it. it's a little hard for me.
the above modification currently seems solved  my problem . but i am not able to do more test.

[2020-09-12 04:13] ozum commented on #54
Alright, I'm looking.

[2020-09-21 16:44] kevbook opened #56 "pgStructure seems to be an object, not function. Can you help?"
- Running `node v12.18.3`

[code]

[code]

Thank you very much

[2020-09-22 05:11] ozum commented on #56
It is related to your JS development environment. Either use `import pgStructure from "pg-structure";` or in your case `const pgStructure = require('pg-structure').default;`.

[2020-09-22 05:11] #56 closed

[2020-10-03 16:53] Qwerios opened #57 "Failure connecting when upgrading from 7.2.1 to 7.2.2"
The last working version of pg-structure for me is 7.2.1. I get the following error when connecting with `const db = await pgStructure({...})`:

[code]

The only change between the 2 versions that mentions regexp_match is:
https://github.com/ozum/pg-structure/compare/v7.2.1...v7.2.2#diff-e1e8262918708f757af7937279b07ba0R23

This is a little to deep into your query setup for me to make an assumptio

[2020-10-04 09:31] Qwerios opened #58 "Array dimension not working for views"
For some reason the `arrayDimension` value remains 0 for columns in a view. This is making it impossible to detect if I am dealing with arrays in my response. Am I supposed to look elsewhere for views? I've console logged the responses but can't find any attribute on the column and colum.type objects to help me out.

Minimal test sql below. The table returns `arrayDimension =  1` as expected but t

[2020-10-14 07:32] Qwerios commented on #57
I found the cause of this issue. The `regexp_match` function only exists in Postgres 10+. Some of my databases are running 9.6 sadly. The `regexp_matches` function is available on both and when I replaced the sql in the sql/9/trigger.sql file it runs fine. Will make a PR for the change.

I cannot get the unit test suite to run since it seems to want to connect to a real local Postgresql database b

[2020-10-14 08:02] Qwerios commented on #58
![pg_view_dims](https://user-images.githubusercontent.com/254447/95960607-382c0880-0e04-11eb-80dd-d8e8a63aa2f6.png)

This seems to be an issue all the way down in the `pg_catalog`. I've found a SQL clause to detect this issue and set the array dimension to 1. There is no way to detect multi-dimensional arrays this way though it seems. I'm falling back to the sqlType which will only ever show one p

[2020-10-20 15:07] ozum commented on #54
@hymanchengo thanks for the guidance. I fixed the problem as you explained. I will publish today or tomorrow to npm.

[2020-10-20 15:07] #54 closed

[2020-10-21 12:10] ozum commented on #58
Many thanks for the PR. I merged and published it with a minor tweak.

[2020-10-21 12:10] #58 closed

[2020-10-21 12:10] ozum commented on #57
Thanks for the PR. I merged and published it.

[2020-10-21 12:10] #57 closed

[2020-11-08 11:34] ianatha opened #61 "Triggers not fetched on PSQL 11.5"
On `PostgreSQL 11.5 on x86_64-apple-darwin16.7.0, compiled by Apple LLVM version 8.1.0 (clang-802.0.42), 64-bit` using `pg-structure` `7.2.6`, trying to fetch triggers, returns an empty array.

It's good that `test/trigger.test.ts` fails!

The reason seems to be that `pg_get_triggerdef` on 11.4 returns `N \((.+)\) EXECUTE PROCEDURE` instead of `N \((.+)\) EXECUTE FUNCTION`

[2020-11-08 15:35] jayarjo opened #63 "Is there anyway to hook into `pg-structure` and add couple of additional queries?"
Is there any way to hook into `pg-structure` and add couple of additional queries, mainly for PostGIS? I would gladly do a PR, but I doubt I will be able to research and implement it as exhaustively as you do. So I was looking for a way to extend it somehow after importing into my code.

[2020-11-08 18:45] ozum commented on #63
Hi, @jayarjo, I'm afraid this is not possible.

[2020-11-16 08:47] jayarjo opened #64 "Type 'DK2' does not satisfy the constraint 'keyof I2'"
After upgrading to the latest version started to get the following error:

![Screen Shot 2020-11-16 at 12 46 55 PM](https://user-images.githubusercontent.com/150075/99231296-d9deb500-2809-11eb-8621-8903d31c239d.png)

[2020-11-16 10:37] jayarjo commented on #64
Any ideas on what might be causing this or how to workaround quickly?

[2020-11-16 10:43] jayarjo commented on #64
I replaced:

[code]

with:

[code]

until there will be a proper fix or recommendation.

Do you think it's ok to have it this way?

[2021-01-26 16:51] #27 closed

[2021-01-26 17:23] #61 closed

[2021-01-27 12:17] ozum commented on #64
@jayarjo thank you for your patience, and I'm sorry for being so late. Not a perfect solution, but I relaxed types of `indexable-array` for TypeScript 4. It seems working now. Any further suggestion is appreciated.

Please install the latest version from npm, and it should work with TypeScript 4 as expected.

[2021-01-27 12:17] #64 closed

[2021-01-27 12:18] #63 closed

[2021-10-01 13:12] rapomon opened #68 "Missing new data types of Posgresql 14"
pgStructure causes error in Postgresql 14, it does not recognise the following data types:

- datemultirange
- int4multirange
- int8multirange
- nummultirange
- tsmultirange
- tstzmultirange

More information:
https://www.postgresql.org/docs/14/rangetypes.html

[2021-10-01 15:08] ozum commented on #68
@rapomon, Thanks for reporting. PostgreSQL 14 support will be added as soon as possible, but couldn't give a timeframe right now.

[2021-10-01 15:29] rapomon commented on #68
Ok. Thank you very much!

[2021-12-07 00:44] mmahalwy commented on #68
@ozum bumping this up - any idea on time frame?

[2021-12-07 10:54] ozum commented on #68
I published a new version with multi-range support. Please update to the latest version and open a new issue if you see any problem.

[2021-12-07 10:54] #68 closed

[2022-02-16 11:39] andreypopp opened #70 "keepConnection should be true by default if pg.Client or pg.Pool is passed"
Hi,

Thanks for the pg-structure!

Just some feedback on API ergonomics. I think it would make API more ergonomic if pg-structure would keep connections open if it passed `pg.Client` or `pg.Pool` — the justification is that if a user passed an initialised connection then they are responsible for its lifecycle.

[2022-02-18 13:05] ozum commented on #70
Thanks for the suggestion.

[2022-04-24 22:00] magick93 opened #74 "jsonschema to postgres?"
Hi

Does `pg-structure` go the other way - from jsonschema to ddl?

Or would you have any advice on how to achieve that?

[2022-04-25 07:02] ozum commented on #74
Hi @magick93, unfortunately not. Also, I don't know any method to do that.

[2022-08-22 11:55] ingalls commented on #74
I came across: https://github.com/better/jsonschema2db but haven't had time to dive in and give it a go yet.

[2022-08-22 11:59] ozum commented on #74
Thanks @ingalls for sharing. @magick93, maybe you can convert jsonschema to db using https://github.com/better/jsonschema2db and later you can use pgdump to create DDL.

[2022-10-10 23:42] djmarcin opened #78 "Triggers without a WHEN clause are not found"
For example, given a table "users":
[code]

I am on postgres 14.

The problem seems to be that `regexp_matches` returns no rows when a WHEN statement is not present, which kills the entire row. I think the solution is to change the query something like this so that when the regexp does not match the condition column is set to `NULL`:
[code]

After doing this, the results seem to be almost as expec

[2022-10-10 23:45] djmarcin commented on #78
Changing to this form seems to retain the original result format:
[code]

[code]

[2022-10-11 04:14] #78 closed

[2022-10-11 14:00] gidimetis opened #80 "In readme file in the section synopsis the property 'host' in the connection object is missing"
.
.
.

async function demo() {
  // Prefer to use environment variables or ".env" file for the credentials. See the ".env.example" file.
  const db = await pgStructure({ database: "db", user: "u", password: "pass" }, { includeSchemas: ["public"] });
.
.
.

need to be : const db = await pgStructure({host: "host", database: "db", user: "u", password: "pass" }, { includeSchemas: ["public"] });

[2022-11-03 12:52] gidimetis opened #81 "no support in jsonb"
column object placed in string (exm: '((log_record -> 'attributes'::text) ->> 'http.route'::text)') instead of
the right object

[2022-11-03 12:54] #74 closed

[2022-11-03 12:57] ozum commented on #81
Could you please specify an example JS code? I don't understand what you mean by "column object placed in string".